.page {
  padding: 84px 120px;
}

.container {
  display: flex;
  gap: 40px;
  align-items: flex-start;
}

.left {
  display: flex;
  flex-direction: column;
  gap: 24px;
  flex: 0 0 430px;
}

.imageWrap {
  position: relative;
  width: 100%;
  height: 350px;
  border-radius: 14px;
  overflow: hidden;
}

.image {
  object-fit: cover;
}

.right {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.titleRow {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 8px;
}

.titleRow h1 {
  font-size: 24px;
  font-weight: 600;
  color: #101828;
}

.idLabel {
  font-size: 16px;
  color: #8D929A;
}

.location {
  font-size: 16px;
  color: #101828;
  display: inline-flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 16px;
}

.location svg {
  flex-shrink: 0;
}

.price {
  font-size: 24px;
  font-weight: 600;
  color: #3470ff;
  margin-bottom: 32px;
}

.description {
  font-size: 16px;
  color: #101828;
  line-height: 125%;
  margin-bottom: 68px;
}

.section{
  margin-bottom: 100px;
}
.section h2 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
  color: #101828;
}

.section ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 0;
  margin: 0;
}

.section li {
  font-size: 16px;
  color: #101828;
  display: flex;
  align-items: center;
  gap: 8px;
}

.section li svg {
  flex-shrink: 0;
}